body {
  background-color: rgb(231, 247, 247);

}

.container {
  margin: auto;
  max-width: 800px;
  text-align: justify;
}


.leftcontainer {
  /* background-color: red; */
  width: 25%;
  padding: 0px 40px 0px 40px;
}

.lighttext {
  opacity: 30%;
  font-family: cursive;
  font-size: 24px;
}

.rightcontainer {
  /* background-color: blue; */
  width: 25%;
  padding: 0px 40px 0px 40px;
}

.containerof3 {
  display: flex;
  justify-content: center;
  width: 100%;
}

.landingcontainer {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-content: center;
}


.big {
  font-size: 18px;
  display:inline-block
}

p {

}